# Configuration Supabase
VITE_SUPABASE_URL=votre_url_supabase
VITE_SUPABASE_ANON_KEY=votre_clé_anonyme_supabase

# Configuration de l'application
VITE_APP_NAME=Esil-events
VITE_APP_VERSION=1.0.0
VITE_APP_ENV=development

# Configuration des notifications
VITE_TOAST_DURATION=5000

# Configuration du calendrier
VITE_CALENDAR_SLOT_DURATION=30
VITE_CALENDAR_MIN_TIME=06:00:00
VITE_CALENDAR_MAX_TIME=22:00:00 